Repository luminartech/helm-charts-public, pull requests merged in 2023-10, with the labels that each got.

#140 feat(common-gitops): Allow to override namespace
  charts/shared/common-gitops/Chart.yaml
  charts/shared/common-gitops/templates/_names.tpl
Labels: common-gitops

#141 feat(common-res): Allow to override namespace
  charts/shared/common-res/Chart.yaml
  charts/shared/common-res/templates/configmap.yaml
  charts/shared/common-res/templates/deployment.yaml
  charts/shared/common-res/templates/endpoint.yaml
  charts/shared/common-res/templates/horizontal-pod-autoscaler.yaml
  charts/shared/common-res/templates/ingress.yaml
  charts/shared/common-res/templates/job.yaml
  charts/shared/common-res/templates/persistent-volume-claim.yaml
  charts/shared/common-res/templates/pod.yaml
  charts/shared/common-res/templates/role-binding.yaml
  charts/shared/common-res/templates/role.yaml
  charts/shared/common-res/templates/secret.yaml
  charts/shared/common-res/templates/service-account.yaml
  charts/shared/common-res/templates/service.yaml
  charts/shared/common-res/values-test.yaml
Labels: common-res

#143 feat(argo-workflows): Initial support of managing resources from values.yaml
  charts/modules/apps/argo-workflows/Chart.yaml
  charts/modules/apps/argo-workflows/templates/cluster-workflow-template.yaml
  charts/modules/apps/argo-workflows/templates/cron-workflow.yaml
  charts/modules/apps/argo-workflows/templates/workflow-template.yaml
  charts/modules/apps/argo-workflows/templates/workflow.yaml
  charts/modules/apps/argo-workflows/values-test.yaml
  charts/modules/apps/argo-workflows/values.yaml
Labels: argo-workflows

#142 gitops/IPE-1434-add-awsBackupAccountId-default-cluster-app-config-var…
  charts/modules/infra/aws-eks/Chart.yaml
  charts/modules/infra/aws-eks/README.md
  charts/modules/infra/aws-eks/values.yaml
Labels: aws-eks

#147 feat(loki): add loki public module
  charts/modules/apps/loki-scalable/.helmignore
  charts/modules/apps/loki-scalable/Chart.yaml
  charts/modules/apps/loki-scalable/Makefile
  charts/modules/apps/loki-scalable/README.md
  charts/modules/apps/loki-scalable/values-test.yaml
  charts/modules/apps/loki-scalable/values.yaml
Labels: loki-scalable

#146 chore(crossplane): use default apiVersion for crossplane resources
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/crossplane/templates/provider-config.yaml
  charts/modules/apps/crossplane/templates/storeconfig.yaml
  charts/modules/apps/crossplane/values.yaml
Labels: crossplane

#148 feat(cost-analyzer): add new module
  charts/modules/apps/cost-analyzer/Chart.yaml
  charts/modules/apps/cost-analyzer/Makefile
  charts/modules/apps/cost-analyzer/README.md
  charts/modules/apps/cost-analyzer/templates/secret.yaml
  charts/modules/apps/cost-analyzer/values-test.yaml
  charts/modules/apps/cost-analyzer/values.yaml
Labels: cost-analyzer

#149 gitops/IPE-1538-import-s3-monitoring-gitops
  charts/iac/crossplane-aws-cloudwatch/.helmignore
  charts/iac/crossplane-aws-cloudwatch/Chart.yaml
  charts/iac/crossplane-aws-cloudwatch/Makefile
  charts/iac/crossplane-aws-cloudwatch/README.md
  charts/iac/crossplane-aws-cloudwatch/templates/.gitkeep
  charts/iac/crossplane-aws-cloudwatch/templates/CompositeAlarm.yaml
  charts/iac/crossplane-aws-cloudwatch/templates/Dashboard.yaml
  charts/iac/crossplane-aws-cloudwatch/templates/MetricAlarm.yaml
  charts/iac/crossplane-aws-cloudwatch/templates/MetricStream.yaml
  charts/iac/crossplane-aws-cloudwatch/values-test.yaml
  charts/iac/crossplane-aws-cloudwatch/values.yaml
  charts/modules/apps/crossplane/values.yaml
Labels: crossplane-aws-cloudwatch

#150 gitops/IPE-1538-chart-version-update
  charts/modules/apps/crossplane/Chart.yaml
Labels: crossplane
