Repository luminartech/helm-charts-public, pull requests merged in 2023-01, with the labels that each got.

#1 Add gitops-common helm library chart
  charts/common-gitops/.gitignore
  charts/common-gitops/.helmignore
  charts/common-gitops/Chart.yaml
  charts/common-gitops/Makefile
  charts/common-gitops/README.md
  charts/common-gitops/templates/_annotations.tpl
  charts/common-gitops/templates/_labels.tpl
  charts/common-gitops/templates/_names.tpl
  charts/common-gitops/templates/_tags.tpl
  charts/common-gitops/templates/_tplvalues.tpl
  charts/common-gitops/templates/_utils.tpl
  charts/common-gitops/templates/crossplane/_awsDeletionPolicy.tpl
  charts/common-gitops/templates/crossplane/_awsRegion.tpl
  charts/common-gitops/templates/crossplane/_providerConfigRef.tpl
  charts/common-gitops/templates/crossplane/_publishConnectionDetailsTo.tpl
  charts/common-gitops/templates/crossplane/_reference.tpl
  charts/common-gitops/templates/crossplane/_writeConnectionSecretToRef.tpl
Labels: common-gitops

#2 Release common-gitops chart - 1.0.0
  charts/common-gitops/Chart.yaml
Labels: common-gitops

#3 Added crossplane-aws-apigateway
  .gitignore
  charts/crossplane-aws-apigateway/.helmignore
  charts/crossplane-aws-apigateway/Chart.yaml
  charts/crossplane-aws-apigateway/Makefile
  charts/crossplane-aws-apigateway/README.md
  charts/crossplane-aws-apigateway/templates/.gitkeep
  charts/crossplane-aws-apigateway/templates/apikey.yaml
  charts/crossplane-aws-apigateway/templates/authorizer.yaml
  charts/crossplane-aws-apigateway/templates/basepathmapping.yaml
  charts/crossplane-aws-apigateway/templates/deployment.yaml
  charts/crossplane-aws-apigateway/templates/documentationpart.yaml
  charts/crossplane-aws-apigateway/templates/documentationversion.yaml
  charts/crossplane-aws-apigateway/templates/domainname.yaml
  charts/crossplane-aws-apigateway/templates/gatewayresponse.yaml
  charts/crossplane-aws-apigateway/templates/integration.yaml
  charts/crossplane-aws-apigateway/templates/integrationresponse.yaml
  charts/crossplane-aws-apigateway/templates/method.yaml
  charts/crossplane-aws-apigateway/templates/methodresponse.yaml
  charts/crossplane-aws-apigateway/templates/model.yaml
  charts/crossplane-aws-apigateway/templates/requestvalidator.yaml
  charts/crossplane-aws-apigateway/templates/resource.yaml
  charts/crossplane-aws-apigateway/templates/restapi.yaml
  charts/crossplane-aws-apigateway/templates/stage.yaml
  charts/crossplane-aws-apigateway/templates/usageplan.yaml
  charts/crossplane-aws-apigateway/templates/usageplankey.yaml
  charts/crossplane-aws-apigateway/templates/vpclink.yaml
  charts/crossplane-aws-apigateway/values-test.yaml
  charts/crossplane-aws-apigateway/values.yaml
Labels: crossplane-aws-apigateway

#5 Adding prometheus-service-discovery chart
  charts/prometheus-service-discovery/.helmignore
  charts/prometheus-service-discovery/Chart.yaml
  charts/prometheus-service-discovery/Makefile
  charts/prometheus-service-discovery/README.md
  charts/prometheus-service-discovery/templates/.gitkeep
  charts/prometheus-service-discovery/templates/pod-monitor.yaml
  charts/prometheus-service-discovery/templates/service-monitor.yaml
  charts/prometheus-service-discovery/values-test.yaml
  charts/prometheus-service-discovery/values.yaml
Labels: prometheus-service-discovery

#6 Removed incomplete template - fargateprofile
  charts/crossplane-aws-eks/Chart.yaml
  charts/crossplane-aws-eks/templates/fargateprofile.yaml
Labels: crossplane-aws-eks

#13 Add external secrets module helm chart
  Makefile.helm.mk
  charts/modules/apps/external-secrets/.helmignore
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/external-secrets/Makefile
  charts/modules/apps/external-secrets/README.md
  charts/modules/apps/external-secrets/templates/.gitkeep
  charts/modules/apps/external-secrets/templates/aws-externalsecret.yaml
  charts/modules/apps/external-secrets/templates/clustersecretstore.yaml
  charts/modules/apps/external-secrets/templates/eks-cluster-externalsecret.yaml
  charts/modules/apps/external-secrets/templates/secret-store-role.yaml
  charts/modules/apps/external-secrets/templates/secret-store-rolebinding.yaml
  charts/modules/apps/external-secrets/templates/secret-store-serviceaccount.yaml
  charts/modules/apps/external-secrets/templates/secretstore.yaml
  charts/modules/apps/external-secrets/templates/vcluster-externalsecret.yaml
  charts/modules/apps/external-secrets/values-bootstrap.yaml
  charts/modules/apps/external-secrets/values-test.yaml
  charts/modules/apps/external-secrets/values.yaml
Labels: external-secrets

#14 Updated chart.yaml with correct source urls
  charts/iac/crossplane-aws-apigateway/Chart.yaml
  charts/iac/crossplane-aws-ecr/Chart.yaml
  charts/iac/crossplane-aws-efs/Chart.yaml
  charts/iac/crossplane-aws-ram/Chart.yaml
  charts/iac/crossplane-aws-route53/Chart.yaml
  charts/iac/crossplane-kubernetes/Chart.yaml
  charts/modules/apps/prometheus-service-discovery/Chart.yaml
Labels: crossplane-aws-apigateway, prometheus-service-discovery, crossplane-aws-ecr, crossplane-aws-efs, crossplane-aws-ram, crossplane-aws-route53, crossplane-kubernetes

#15 Added external service module
  charts/shared/external-service/.helmignore
  charts/shared/external-service/Chart.yaml
  charts/shared/external-service/Makefile
  charts/shared/external-service/README.md
  charts/shared/external-service/templates/endpoint.yaml
  charts/shared/external-service/templates/ingress.yaml
  charts/shared/external-service/templates/service.yaml
  charts/shared/external-service/values-test.yaml
  charts/shared/external-service/values.yaml
Labels: external-service

#16 External-service: Use rendering template function for values
  charts/shared/external-service/Chart.yaml
  charts/shared/external-service/templates/ingress.yaml
  charts/shared/external-service/templates/service.yaml
Labels: external-service

#17 Renamed external-service to common-res
  charts/shared/common-res/.helmignore
  charts/shared/common-res/Chart.yaml
  charts/shared/common-res/Makefile
  charts/shared/common-res/README.md
  charts/shared/common-res/templates/endpoint.yaml
  charts/shared/common-res/templates/ingress.yaml
  charts/shared/common-res/templates/role-binding.yaml
  charts/shared/common-res/templates/role.yaml
  charts/shared/common-res/templates/service-account.yaml
  charts/shared/common-res/templates/service.yaml
  charts/shared/common-res/values-test.yaml
  charts/shared/common-res/values.yaml
Labels: common-res

#18 Common-res: Updated role and rolebinding for custom values.
  charts/shared/common-res/Chart.yaml
  charts/shared/common-res/templates/role-binding.yaml
  charts/shared/common-res/templates/role.yaml
Labels: common-res

#19 Fixed common-gitops dep chart version
  charts/shared/common-res/Chart.yaml
Labels: common-res

#20 Added clusterrole and clusterrolebinding templates in common-res chart
  charts/shared/common-res/Chart.yaml
  charts/shared/common-res/README.md
  charts/shared/common-res/templates/cluster-role-binding.yaml
  charts/shared/common-res/templates/cluster-role.yaml
  charts/shared/common-res/values-test.yaml
  charts/shared/common-res/values.yaml
Labels: common-res

#21 Updated cluster role binding to use user provided roleref
  charts/shared/common-res/Chart.yaml
  charts/shared/common-res/templates/cluster-role-binding.yaml
  charts/shared/common-res/templates/role-binding.yaml
Labels: common-res

#22 Removed default subjects from cluster role binding and role binding templates
  charts/shared/common-res/Chart.yaml
  charts/shared/common-res/templates/cluster-role-binding.yaml
  charts/shared/common-res/templates/role-binding.yaml
Labels: common-res

#23 Added job template and podSpec shared template in common-res
  charts/shared/common-res/Chart.yaml
  charts/shared/common-res/README.md
  charts/shared/common-res/templates/cluster-role-binding.yaml
  charts/shared/common-res/templates/functions/podspec.tpl
  charts/shared/common-res/templates/job.yaml
  charts/shared/common-res/values-test.yaml
  charts/shared/common-res/values.yaml
Labels: common-res

#24 Updated vcluster external secrets to expect argocd sa token secret as source secret
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/external-secrets/templates/vcluster-externalsecret.yaml
Labels: external-secrets

#25 Fixed argocdsecretname name errors
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/external-secrets/templates/vcluster-externalsecret.yaml
Labels: external-secrets

#26 Added refreshInterval support
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/external-secrets/templates/eks-cluster-externalsecret.yaml
  charts/modules/apps/external-secrets/templates/vcluster-externalsecret.yaml
Labels: external-secrets

#27 Fixed annotations for vcluster external secret
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/external-secrets/templates/vcluster-externalsecret.yaml
Labels: external-secrets

#28 Upgraded external-secrets upstream chart to 0.7.1
  charts/modules/apps/external-secrets/Chart.yaml
Labels: external-secrets

#29 Added support for deletionPolicy and creationPolicy values
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/external-secrets/templates/eks-cluster-externalsecret.yaml
  charts/modules/apps/external-secrets/templates/vcluster-externalsecret.yaml
Labels: external-secrets

#30 Updated deletionPolicy and creationPolicy defaults
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/external-secrets/templates/aws-externalsecret.yaml
  charts/modules/apps/external-secrets/templates/eks-cluster-externalsecret.yaml
  charts/modules/apps/external-secrets/templates/vcluster-externalsecret.yaml
Labels: external-secrets

#31 External secrets - Bumping up the version
  charts/modules/apps/external-secrets/Chart.yaml
Labels: external-secrets

#32 Simplified aws-externalsecrets template
  charts/modules/apps/external-secrets/templates/aws-externalsecret.yaml
Labels: external-secrets

#33 Fixed vcluster secret decoding issue
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/external-secrets/templates/vcluster-externalsecret.yaml
Labels: external-secrets

#34 Avoiding decoding bearerToken
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/external-secrets/templates/vcluster-externalsecret.yaml
Labels: external-secrets

#35 Replace mergeOverwrite with merge
  charts/shared/common-gitops/Chart.yaml
  charts/shared/common-gitops/templates/_annotations.tpl
  charts/shared/common-gitops/templates/_labels.tpl
  charts/shared/common-gitops/templates/_names.tpl
  charts/shared/common-gitops/templates/_tags.tpl
  charts/shared/common-gitops/templates/_tplvalues.tpl
  charts/shared/common-gitops/templates/crossplane/_awsDeletionPolicy.tpl
  charts/shared/common-gitops/templates/crossplane/_awsRegion.tpl
  charts/shared/common-gitops/templates/crossplane/_providerConfigRef.tpl
  charts/shared/common-gitops/templates/crossplane/_publishConnectionDetailsTo.tpl
  charts/shared/common-gitops/templates/crossplane/_reference.tpl
  charts/shared/common-gitops/templates/crossplane/_writeConnectionSecretToRef.tpl
Labels: common-gitops

#38 Update common-gitops dependency
  charts/iac/crossplane-aws-ec2/Chart.yaml
  charts/iac/crossplane-aws-eks/Chart.yaml
  charts/iac/crossplane-aws-iam/Chart.yaml
  charts/iac/crossplane-aws-kms/Chart.yaml
  charts/iac/crossplane-aws-s3/Chart.yaml
  charts/iac/crossplane-aws-secretsmanager/Chart.yaml
  charts/shared/common-gitops/templates/crossplane/_reference.tpl
Labels: crossplane-aws-eks, crossplane-aws-ec2, crossplane-aws-iam, crossplane-aws-kms, crossplane-aws-s3, crossplane-aws-secretsmanager

#39 Switch to latest version of common-gitops
  charts/iac/crossplane-aws-apigateway/Chart.yaml
  charts/iac/crossplane-aws-ec2/Chart.yaml
  charts/iac/crossplane-aws-ecr/Chart.yaml
  charts/iac/crossplane-aws-efs/Chart.yaml
  charts/iac/crossplane-aws-eks/Chart.yaml
  charts/iac/crossplane-aws-iam/Chart.yaml
  charts/iac/crossplane-aws-kms/Chart.yaml
  charts/iac/crossplane-aws-ram/Chart.yaml
  charts/iac/crossplane-aws-route53/Chart.yaml
  charts/iac/crossplane-aws-s3/Chart.yaml
  charts/iac/crossplane-aws-secretsmanager/Chart.yaml
  charts/iac/crossplane-kubernetes/Chart.yaml
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/prometheus-service-discovery/Chart.yaml
Labels: crossplane-aws-apigateway, prometheus-service-discovery, crossplane-aws-eks, crossplane-aws-ec2, crossplane-aws-ecr, crossplane-aws-efs, crossplane-aws-iam, crossplane-aws-kms, crossplane-aws-ram, crossplane-aws-route53, crossplane-aws-s3, crossplane-aws-secretsmanager, crossplane-kubernetes, external-secrets

#43 Update common-gitops dependency in common-res
  charts/shared/common-res/Chart.yaml
Labels: common-res

#44 Release common-res chart
  charts/shared/common-res/Chart.yaml
Labels: common-res

#46 Add template to generate subnet CIDRs
  charts/shared/common-gitops/Chart.yaml
  charts/shared/common-gitops/templates/_utils.tpl
Labels: common-gitops

#47 Fix makefiles relative paths
  charts/iac/crossplane-aws-apigateway/Makefile
  charts/iac/crossplane-aws-ec2/Makefile
  charts/iac/crossplane-aws-ecr/Makefile
  charts/iac/crossplane-aws-efs/Makefile
  charts/iac/crossplane-aws-eks/Makefile
  charts/iac/crossplane-aws-iam/Makefile
  charts/iac/crossplane-aws-kms/Makefile
  charts/iac/crossplane-aws-ram/Makefile
  charts/iac/crossplane-aws-route53/Makefile
  charts/iac/crossplane-aws-s3/Makefile
  charts/iac/crossplane-aws-secretsmanager/Makefile
  charts/iac/crossplane-kubernetes/Makefile
  charts/modules/apps/prometheus-service-discovery/Makefile
  charts/shared/common-gitops/Makefile
Labels: common-gitops, crossplane-aws-apigateway, prometheus-service-discovery, crossplane-aws-eks, crossplane-aws-ec2, crossplane-aws-ecr, crossplane-aws-efs, crossplane-aws-iam, crossplane-aws-kms, crossplane-aws-ram, crossplane-aws-route53, crossplane-aws-s3, crossplane-aws-secretsmanager, crossplane-kubernetes

#48 TPLrender all fields of crossplane-aws-ec2 chart
  charts/iac/crossplane-aws-ec2/templates/address.yaml
  charts/iac/crossplane-aws-ec2/templates/instance.yaml
  charts/iac/crossplane-aws-ec2/templates/internetgatway.yaml
  charts/iac/crossplane-aws-ec2/templates/launchtemplate.yaml
  charts/iac/crossplane-aws-ec2/templates/launchtemplateversion.yaml
  charts/iac/crossplane-aws-ec2/templates/natgateway.yaml
  charts/iac/crossplane-aws-ec2/templates/route.yaml
  charts/iac/crossplane-aws-ec2/templates/routetable.yaml
  charts/iac/crossplane-aws-ec2/templates/securitygroup.yaml
  charts/iac/crossplane-aws-ec2/templates/subnet.yaml
  charts/iac/crossplane-aws-ec2/templates/transitgateway-vpc-attachment-accepter.yaml
  charts/iac/crossplane-aws-ec2/templates/transitgateway.yaml
  charts/iac/crossplane-aws-ec2/templates/transitgatewayroute.yaml
  charts/iac/crossplane-aws-ec2/templates/transitgatewayroutetable.yaml
  charts/iac/crossplane-aws-ec2/templates/transitgatewayvpcattachment.yaml
  charts/iac/crossplane-aws-ec2/templates/volume.yaml
  charts/iac/crossplane-aws-ec2/templates/vpc.yaml
  charts/iac/crossplane-aws-ec2/templates/vpccidrblock.yaml
  charts/iac/crossplane-aws-ec2/templates/vpcendpoint.yaml
  charts/iac/crossplane-aws-ec2/templates/vpcendpointserviceconfiguration.yaml
  charts/iac/crossplane-aws-ec2/templates/vpcpeeringconnection.yaml
Labels: crossplane-aws-ec2

#49 Support empty forProvider
  charts/iac/crossplane-aws-ec2/templates/address.yaml
  charts/iac/crossplane-aws-ec2/templates/instance.yaml
  charts/iac/crossplane-aws-ec2/templates/internetgatway.yaml
  charts/iac/crossplane-aws-ec2/templates/launchtemplate.yaml
  charts/iac/crossplane-aws-ec2/templates/launchtemplateversion.yaml
  charts/iac/crossplane-aws-ec2/templates/natgateway.yaml
  charts/iac/crossplane-aws-ec2/templates/route.yaml
  charts/iac/crossplane-aws-ec2/templates/routetable.yaml
  charts/iac/crossplane-aws-ec2/templates/securitygroup.yaml
  charts/iac/crossplane-aws-ec2/templates/subnet.yaml
  charts/iac/crossplane-aws-ec2/templates/transitgateway-vpc-attachment-accepter.yaml
  charts/iac/crossplane-aws-ec2/templates/transitgateway.yaml
  charts/iac/crossplane-aws-ec2/templates/transitgatewayroute.yaml
  charts/iac/crossplane-aws-ec2/templates/transitgatewayroutetable.yaml
  charts/iac/crossplane-aws-ec2/templates/transitgatewayvpcattachment.yaml
  charts/iac/crossplane-aws-ec2/templates/volume.yaml
  charts/iac/crossplane-aws-ec2/templates/vpc.yaml
  charts/iac/crossplane-aws-ec2/templates/vpccidrblock.yaml
  charts/iac/crossplane-aws-ec2/templates/vpcendpoint.yaml
  charts/iac/crossplane-aws-ec2/templates/vpcendpointserviceconfiguration.yaml
  charts/iac/crossplane-aws-ec2/templates/vpcpeeringconnection.yaml
Labels: crossplane-aws-ec2

#52 Push another release of common-gitops
  charts/shared/common-gitops/Chart.yaml
Labels: common-gitops

#50 Release crossplane-aws-ec2 with support of subnetCidr template
  charts/iac/crossplane-aws-ec2/Chart.yaml
  charts/iac/crossplane-aws-ec2/values-test.yaml
Labels: crossplane-aws-ec2

#51 DRY crossplane-aws-iam chart and add support for more resource kinds
  charts/iac/crossplane-aws-iam/Chart.yaml
  charts/iac/crossplane-aws-iam/README.md
  charts/iac/crossplane-aws-iam/templates/accesskey.yaml
  charts/iac/crossplane-aws-iam/templates/group.yaml
  charts/iac/crossplane-aws-iam/templates/grouppolicyattachment.yaml
  charts/iac/crossplane-aws-iam/templates/groupusermembership.yaml
  charts/iac/crossplane-aws-iam/templates/instanceprofile.yaml
  charts/iac/crossplane-aws-iam/templates/openidconnectprovider.yaml
  charts/iac/crossplane-aws-iam/templates/policy.yaml
  charts/iac/crossplane-aws-iam/templates/role.yaml
  charts/iac/crossplane-aws-iam/templates/rolepolicyattachment.yaml
  charts/iac/crossplane-aws-iam/templates/user.yaml
  charts/iac/crossplane-aws-iam/templates/userpolicyattachment.yaml
  charts/iac/crossplane-aws-iam/values-test.yaml
  charts/iac/crossplane-aws-iam/values.yaml
Labels: crossplane-aws-iam
