Repository luminartech/helm-charts-public, pull requests merged in 2023-08, with the labels that each got.

#104 Support custom policy format for KMS keys
  charts/iac/crossplane-aws-kms/Chart.yaml
  charts/iac/crossplane-aws-kms/templates/key.yaml
Labels: crossplane-aws-kms

#105 Make the name of the secret returned by PublishConnectionsDetailsTo configurable
  charts/shared/common-gitops/Chart.yaml
  charts/shared/common-gitops/templates/crossplane/_publishConnectionDetailsTo.tpl
Labels: common-gitops

#106 Update common-gitops version
  charts/iac/crossplane-aws-ec2/Chart.yaml
  charts/iac/crossplane-aws-eks/Chart.yaml
  charts/iac/crossplane-aws-iam/Chart.yaml
  charts/iac/crossplane-aws-kms/Chart.yaml
  charts/iac/crossplane-aws-rds/Chart.yaml
  charts/iac/crossplane-aws-route53/Chart.yaml
  charts/iac/crossplane-aws-s3/Chart.yaml
  charts/iac/crossplane-aws-secretsmanager/Chart.yaml
Labels: crossplane-aws-eks, crossplane-aws-ec2, crossplane-aws-iam, crossplane-aws-kms, crossplane-aws-route53, crossplane-aws-s3, crossplane-aws-secretsmanager, crossplane-aws-rds

#107 Convert external-secrets module to upbound
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/external-secrets/templates/clustersecretstore.yaml
  charts/modules/apps/external-secrets/templates/secretstore.yaml
  charts/modules/apps/external-secrets/values.yaml
Labels: external-secrets

#108 Convert prom-service-discovery to upbound
  charts/modules/apps/prometheus-service-discovery/Chart.yaml
Labels: prometheus-service-discovery

#109 Make published secret name configurable
  charts/shared/common-gitops/Chart.yaml
  charts/shared/common-gitops/templates/crossplane/_publishConnectionDetailsTo.tpl
  charts/shared/common-gitops/templates/crossplane/_writeConnectionSecretToRef.tpl
Labels: common-gitops

#110 Update common-gitops dep for eks chart
  charts/iac/crossplane-aws-eks/Chart.yaml
  charts/iac/crossplane-aws-eks/values-test.yaml
Labels: crossplane-aws-eks

#111 Migrate aws-ecr to Upbound provider
  charts/iac/crossplane-aws-ecr/Chart.yaml
  charts/iac/crossplane-aws-ecr/templates/lifecycle-policy.yaml
  charts/iac/crossplane-aws-ecr/templates/pull-through-cache-rule.yaml
  charts/iac/crossplane-aws-ecr/templates/registry-policy.yaml
  charts/iac/crossplane-aws-ecr/templates/registry-scanning-configuration.yaml
  charts/iac/crossplane-aws-ecr/templates/replication-configuration.yaml
  charts/iac/crossplane-aws-ecr/templates/repository-policy.yaml
  charts/iac/crossplane-aws-ecr/templates/repository.yaml
  charts/iac/crossplane-aws-ecr/values-test.yaml
Labels: crossplane-aws-ecr

#113 Delete aws-database chart since it's not supported by Upbound provider
  charts/iac/crossplane-aws-database/Chart.yaml
  charts/iac/crossplane-aws-database/Makefile
  charts/iac/crossplane-aws-database/README.md
  charts/iac/crossplane-aws-database/templates/dbsubnetgroup.yaml
  charts/iac/crossplane-aws-database/templates/rdsinstance.yaml
  charts/iac/crossplane-aws-database/values-test.yaml
  charts/iac/crossplane-aws-database/values.yaml
Labels: crossplane-aws-database

#114 Tune crossplane's provider resources request
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/crossplane/values.yaml
Labels: crossplane

#115 Trigger aws-ecr chart release
  charts/iac/crossplane-aws-ecr/Chart.yaml
Labels: crossplane-aws-ecr

#116 Fix: ECR policies returned yaml instead of json
  charts/iac/crossplane-aws-ecr/Chart.yaml
  charts/iac/crossplane-aws-ecr/templates/registry-policy.yaml
  charts/iac/crossplane-aws-ecr/templates/repository-policy.yaml
  charts/iac/crossplane-aws-ecr/values-test.yaml
Labels: crossplane-aws-ecr

#118 Migrate aws-ram to Upbound
  charts/iac/crossplane-aws-ram/Chart.yaml
  charts/iac/crossplane-aws-ram/README.md
  charts/iac/crossplane-aws-ram/templates/resource-association.yaml
  charts/iac/crossplane-aws-ram/templates/resource-share.yaml
  charts/iac/crossplane-aws-ram/values-test.yaml
  charts/iac/crossplane-aws-ram/values.yaml
Labels: crossplane-aws-ram

#120 Publish cert-manager module
  charts/modules/apps/cert-manager/.helmignore
  charts/modules/apps/cert-manager/Chart.yaml
  charts/modules/apps/cert-manager/Makefile
  charts/modules/apps/cert-manager/README.md
  charts/modules/apps/cert-manager/templates/certificate-request.yaml
  charts/modules/apps/cert-manager/templates/certificate.yaml
  charts/modules/apps/cert-manager/templates/cluster-issuer.yaml
  charts/modules/apps/cert-manager/templates/issuer.yaml
  charts/modules/apps/cert-manager/values-test.yaml
  charts/modules/apps/cert-manager/values.yaml
Labels: cert-manager

#119 Gitops/s3-set-bucket-public-acess-disabled
  charts/iac/crossplane-aws-s3/Chart.yaml
  charts/iac/crossplane-aws-s3/templates/bucket-public-access-block.yaml
  charts/shared/common-gitops/Chart.yaml
  charts/shared/common-gitops/templates/crossplane/_awsBucketPublicAccessBlock.tpl
Labels: common-gitops, crossplane-aws-s3
