Repository luminartech/helm-charts-public, pull requests merged in 2023-06, with the labels that each got.

#87 Common-res: Added PV PVC and POD templates
  charts/shared/common-res/Chart.yaml
  charts/shared/common-res/README.md
  charts/shared/common-res/templates/persistent-volume-claim.yaml
  charts/shared/common-res/templates/persistent-volume.yaml
  charts/shared/common-res/templates/pod.yaml
  charts/shared/common-res/values.yaml
Labels: common-res

#88 Add support of raw and list formats of IAM policies
  charts/iac/crossplane-aws-iam/Chart.yaml
  charts/iac/crossplane-aws-iam/values-test.yaml
  charts/iac/crossplane-aws-kms/Chart.yaml
  charts/iac/crossplane-aws-s3/Chart.yaml
  charts/shared/common-gitops/Chart.yaml
  charts/shared/common-gitops/templates/crossplane/_awsPolicy.tpl
Labels: common-gitops, crossplane-aws-iam

#89 Update external-secret's dependencies
  charts/modules/apps/external-secrets/Chart.yaml
Labels: external-secrets

#91 Add crossplane-aws-elasticache helm chart
  charts/iac/crossplane-aws-elasticache/.helmignore
  charts/iac/crossplane-aws-elasticache/Chart.yaml
  charts/iac/crossplane-aws-elasticache/Makefile
  charts/iac/crossplane-aws-elasticache/README.md
  charts/iac/crossplane-aws-elasticache/templates/.gitkeep
  charts/iac/crossplane-aws-elasticache/templates/cluster.yaml
  charts/iac/crossplane-aws-elasticache/templates/parametergroup.yaml
  charts/iac/crossplane-aws-elasticache/templates/replicationgroup.yaml
  charts/iac/crossplane-aws-elasticache/templates/subnetgroup.yaml
  charts/iac/crossplane-aws-elasticache/templates/user.yaml
  charts/iac/crossplane-aws-elasticache/templates/usergroup.yaml
  charts/iac/crossplane-aws-elasticache/values-test.yaml
  charts/iac/crossplane-aws-elasticache/values.yaml
Labels: crossplane-aws-elasticache
