Repository luminartech/helm-charts-public, pull requests merged in 2023-11, with the labels that each got.

#152 fix(cost-analyzer): chart name
  charts/modules/apps/cost-analyzer/Chart.yaml
Labels: cost-analyzer

#153 CloudWatch Module
  charts/iac/crossplane-aws-cloudwatch/Chart.yaml
  charts/iac/crossplane-aws-cloudwatch/templates/MetricAlarm.yaml
  charts/iac/crossplane-aws-cloudwatch/templates/MetricStream.yaml
Labels: crossplane-aws-cloudwatch

#155 feat(monitoring): Init helm chart
  charts/modules/apps/monitoring/.helmignore
  charts/modules/apps/monitoring/Chart.yaml
  charts/modules/apps/monitoring/Makefile
  charts/modules/apps/monitoring/README.md
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/argocd-basic.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/cert-manager.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/crossplane.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/external-dns.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/karpenter-capacity.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/karpenter-performance.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/loki.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/nginx-ingress.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/nvidia-dcgm.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/trivy-vulnerabilities.yaml
  charts/modules/apps/monitoring/templates/slack-templates.yaml
  charts/modules/apps/monitoring/utils/grafana-dashboards/argocd-basic.json
  charts/modules/apps/monitoring/utils/grafana-dashboards/cert-manager.json
  charts/modules/apps/monitoring/utils/grafana-dashboards/crossplane.json
  charts/modules/apps/monitoring/utils/grafana-dashboards/external-dns.json
  charts/modules/apps/monitoring/utils/grafana-dashboards/karpenter-capacity.json
  charts/modules/apps/monitoring/utils/grafana-dashboards/karpenter-performance.json
  charts/modules/apps/monitoring/utils/grafana-dashboards/loki.json
  charts/modules/apps/monitoring/utils/grafana-dashboards/nginx-ingress.json
  charts/modules/apps/monitoring/utils/grafana-dashboards/nvidia-dcgm.json
  charts/modules/apps/monitoring/utils/grafana-dashboards/trivy-vulnerabilities.json
  charts/modules/apps/monitoring/utils/sync_grafana_dashboards.py
  charts/modules/apps/monitoring/values-test.yaml
  charts/modules/apps/monitoring/values.yaml
Labels: monitoring

#156 Create base module for Lambda
  charts/iac/crossplane-aws-lambda/.helmignore
  charts/iac/crossplane-aws-lambda/Chart.yaml
  charts/iac/crossplane-aws-lambda/Makefile
  charts/iac/crossplane-aws-lambda/README.md
  charts/iac/crossplane-aws-lambda/templates/.gitkeep
  charts/iac/crossplane-aws-lambda/templates/alias.yaml
  charts/iac/crossplane-aws-lambda/templates/codesigningconfig.yaml
  charts/iac/crossplane-aws-lambda/templates/eventsourcemapping.yaml
  charts/iac/crossplane-aws-lambda/templates/function.yaml
  charts/iac/crossplane-aws-lambda/templates/functioneventinvokeconfig.yaml
  charts/iac/crossplane-aws-lambda/templates/functionurl.yaml
  charts/iac/crossplane-aws-lambda/templates/invocation.yaml
  charts/iac/crossplane-aws-lambda/templates/layerversion.yaml
  charts/iac/crossplane-aws-lambda/templates/layerversionpermission.yaml
  charts/iac/crossplane-aws-lambda/templates/permission.yaml
  charts/iac/crossplane-aws-lambda/templates/provisionedconcurrencyconfig.yaml
  charts/iac/crossplane-aws-lambda/values-test.yaml
  charts/iac/crossplane-aws-lambda/values.yaml
Labels: crossplane-aws-lambda

#157 enable-lambda-provider
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/crossplane/values.yaml
Labels: crossplane

#158 sns-policy-yaml
  charts/iac/crossplane-aws-sns/Chart.yaml
  charts/iac/crossplane-aws-sns/templates/topic-policy.yaml
Labels: crossplane-aws-sns

#159 common-res-fix-service-template-labels
  charts/shared/common-res/Chart.yaml
  charts/shared/common-res/templates/service.yaml
Labels: common-res
