Repository luminartech/helm-charts-public, pull requests merged in 2024-06, with the labels that each got.

#264 feat(crossplane-aws-cloudtrail): Add new base helm chart
  charts/iac/crossplane-aws-cloudtrail/.helmignore
  charts/iac/crossplane-aws-cloudtrail/Chart.yaml
  charts/iac/crossplane-aws-cloudtrail/Makefile
  charts/iac/crossplane-aws-cloudtrail/README.md
  charts/iac/crossplane-aws-cloudtrail/templates/.gitkeep
  charts/iac/crossplane-aws-cloudtrail/templates/event-data-store.yaml
  charts/iac/crossplane-aws-cloudtrail/templates/trail.yaml
  charts/iac/crossplane-aws-cloudtrail/values-test.yaml
  charts/iac/crossplane-aws-cloudtrail/values.yaml
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/crossplane/README.md
  charts/modules/apps/crossplane/values.yaml
Labels: crossplane, crossplane-aws-cloudtrail

#265 feat(crossplane): Use default poll and sync intervals
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/crossplane/values.yaml
Labels: crossplane

#266 Upgrade kubecost
  charts/modules/apps/cost-analyzer/Chart.yaml
Labels: cost-analyzer

#267 chatbot-ui-update
  charts/modules/apps/chatbot-ui/Chart.yaml
  charts/modules/apps/chatbot-ui/README.md
  charts/modules/apps/chatbot-ui/values.yaml
Labels: chatbot-ui

#268 osrm-nominatim-helm-chart
  charts/modules/apps/osrm-nominatim/Chart.yaml
  charts/modules/apps/osrm-nominatim/Makefile
  charts/modules/apps/osrm-nominatim/values-test.yaml
  charts/modules/apps/osrm-nominatim/values.yaml
Labels: osrm-nominatim

#269 osrm-nominatim-default-resource-limits
  charts/modules/apps/osrm-nominatim/values.yaml
Labels: osrm-nominatim

#271 osrm-nominatim-update-chart
  charts/modules/apps/osrm-nominatim/Chart.yaml
  charts/modules/apps/osrm-nominatim/values-test.yaml
  charts/modules/apps/osrm-nominatim/values.yaml
Labels: osrm-nominatim

#272 osrm-nominatim-indentation
  charts/modules/apps/osrm-nominatim/Chart.yaml
  charts/modules/apps/osrm-nominatim/values.yaml
Labels: osrm-nominatim

#274 osrm-nominatim-update-version
  charts/modules/apps/osrm-nominatim/Chart.yaml
  charts/modules/apps/osrm-nominatim/values.yaml
Labels: osrm-nominatim

#275 osrm-nominatim-resource-limits
  charts/modules/apps/osrm-nominatim/Chart.yaml
  charts/modules/apps/osrm-nominatim/values.yaml
Labels: osrm-nominatim

#276 Deployment yaml override
  charts/modules/apps/osrm-nominatim/Chart.yaml
  charts/modules/apps/osrm-nominatim/templates/deployment.yaml
Labels: osrm-nominatim

#278 remove-osrm-nominatim-from-public-repo
  charts/modules/apps/osrm-nominatim/Chart.yaml
  charts/modules/apps/osrm-nominatim/Makefile
  charts/modules/apps/osrm-nominatim/templates/deployment.yaml
  charts/modules/apps/osrm-nominatim/values-test.yaml
  charts/modules/apps/osrm-nominatim/values.yaml
Labels: osrm-nominatim
