Repository luminartech/helm-charts-public, pull requests merged in 2024-04, with the labels that each got.

#243 Added dind support for devspace pod
  charts/modules/apps/devspace/Chart.yaml
  charts/modules/apps/devspace/values.yaml
  charts/shared/common-res/Chart.yaml
Labels: common-res, devspace

#242 Fixed external secrets metadata errors
  charts/modules/apps/argo-cd/Chart.yaml
  charts/modules/apps/chatbot-ui/Chart.yaml
  charts/modules/apps/vcluster/Chart.yaml
  charts/modules/infra/aws-eks-config/Chart.yaml
  charts/modules/infra/aws-eks/Chart.yaml
Labels: aws-eks, argo-cd, chatbot-ui, aws-eks-config, vcluster

#244 SW-6513: Updated EKS helm chart to use 1.29 kubernetes version
  charts/modules/infra/aws-eks/Chart.yaml
  charts/modules/infra/aws-eks/README.md
  charts/modules/infra/aws-eks/values.yaml
Labels: aws-eks

#245 SW-7794-upgrade-eks-mgmt-cluster-addons
  charts/modules/infra/aws-eks/Chart.yaml
  charts/modules/infra/aws-eks/values.yaml
Labels: aws-eks

#246 SW-7794-upgrade-kube-proxy-migrate-eks-addon
  charts/modules/infra/aws-eks/Chart.yaml
  charts/modules/infra/aws-eks/values.yaml
Labels: aws-eks

#247 SW-7794-upgrade-cni-csi-latest
  charts/modules/infra/aws-eks/Chart.yaml
  charts/modules/infra/aws-eks/values.yaml
Labels: aws-eks

#248 SW-7794-resolve-conflicts-error
  charts/modules/infra/aws-eks/Chart.yaml
  charts/modules/infra/aws-eks/README.md
  charts/modules/infra/aws-eks/values.yaml
Labels: aws-eks

#249 change resolve for update
  charts/modules/infra/aws-eks/Chart.yaml
  charts/modules/infra/aws-eks/README.md
  charts/modules/infra/aws-eks/values.yaml
Labels: aws-eks

#251 SW-7794-resolve-conflicts-error-set-in-higher-chart
  charts/modules/infra/aws-eks/Chart.yaml
  charts/modules/infra/aws-eks/values.yaml
Labels: aws-eks

#250 Updated devspace helm chart to define resources at global level
  charts/modules/apps/devspace/Chart.yaml
  charts/modules/apps/devspace/values.yaml
Labels: devspace

#252 Common-res chart: Updated service specs to include missing keys
  charts/shared/common-res/Chart.yaml
  charts/shared/common-res/templates/service.yaml
Labels: common-res

#253 SW-8943-grafana-update-for-okta
  charts/modules/apps/monitoring/Chart.yaml
Labels: monitoring

#256 SW-7796-upgrade-lum-cluster-kube-proxy
  charts/modules/infra/aws-eks/Chart.yaml
  charts/modules/infra/aws-eks/README.md
  charts/modules/infra/aws-eks/values.yaml
Labels: aws-eks

#257 feat(common-gitops): Conditional trim of empty object in tplvalues.render
  charts/shared/common-gitops/Chart.yaml
  charts/shared/common-gitops/templates/_tplvalues.tpl
Labels: common-gitops, karpenter
