Repository luminartech/helm-charts-public, pull requests merged in 2024-07, with the labels that each got.

#279 ingress-true-ip
  charts/modules/apps/ingress-nginx/Chart.yaml
  charts/modules/apps/ingress-nginx/README.md
  charts/modules/apps/ingress-nginx/values.yaml
Labels: ingress-nginx

#280 feat(loki-scalable): Make it possible to store secrets for Loki in AWS SM
  charts/modules/apps/loki-scalable/Chart.yaml
  charts/modules/apps/loki-scalable/README.md
  charts/modules/apps/loki-scalable/values.yaml
Labels: loki-scalable

#282 feat(loki-scalable): rename loki secrets
  charts/modules/apps/loki-scalable/Chart.yaml
  charts/modules/apps/loki-scalable/README.md
  charts/modules/apps/loki-scalable/values.yaml
Labels: loki-scalable

#281 feat(aws-eks-rbac): Support additional AWS Auth mapRoles
  charts/modules/infra/aws-eks-rbac/Chart.yaml
  charts/modules/infra/aws-eks-rbac/README.md
  charts/modules/infra/aws-eks-rbac/values.yaml
Labels: aws-eks-rbac

#284 filestash-helm-chart
  charts/modules/apps/filestash-app/Chart.yaml
  charts/modules/apps/filestash-app/Makefile
  charts/modules/apps/filestash-app/README.md
  charts/modules/apps/filestash-app/values-test.yaml
  charts/modules/apps/filestash-app/values.yaml
Labels: filestash-app

#285 filestash-helm-chart-update
  charts/modules/apps/filestash-app/Chart.yaml
  charts/modules/apps/filestash-app/README.md
  charts/modules/apps/filestash-app/values.yaml
Labels: filestash-app

#287 filestash-helm-chart-port
  charts/modules/apps/filestash-app/Chart.yaml
  charts/modules/apps/filestash-app/README.md
  charts/modules/apps/filestash-app/values.yaml
Labels: filestash-app

#283 feat(aws-eks-rbac): fix indentation
  charts/modules/infra/aws-eks-rbac/Chart.yaml
  charts/modules/infra/aws-eks-rbac/README.md
  charts/modules/infra/aws-eks-rbac/values.yaml
Labels: aws-eks-rbac

#290 eks-addon-s3-csi
  charts/modules/infra/aws-eks/Chart.yaml
  charts/modules/infra/aws-eks/README.md
  charts/modules/infra/aws-eks/values.yaml
Labels: aws-eks

#293 crossplane-iam-rolepolicy
  charts/iac/crossplane-aws-iam/Chart.yaml
  charts/iac/crossplane-aws-iam/README.md
  charts/iac/crossplane-aws-iam/templates/role-policy.yaml
  charts/iac/crossplane-aws-iam/values-test.yaml
  charts/iac/crossplane-aws-iam/values.yaml
Labels: crossplane-aws-iam

#294 crossplane-iam-rolepolicies
  charts/iac/crossplane-aws-iam/Chart.yaml
  charts/iac/crossplane-aws-iam/templates/role-policy.yaml
Labels: crossplane-aws-iam

#295 feat(mimir): Add new module
  charts/modules/apps/mimir/Chart.yaml
  charts/modules/apps/mimir/Makefile
  charts/modules/apps/mimir/README.md
  charts/modules/apps/mimir/values-test.yaml
  charts/modules/apps/mimir/values.yaml
Labels: mimir

#292 eks-addon-s3-csi
  charts/modules/infra/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/modules/infra/aws-mountpoint-s3-csi-driver/Makefile
  charts/modules/infra/aws-mountpoint-s3-csi-driver/values-test.yaml
  charts/modules/infra/aws-mountpoint-s3-csi-driver/values.yaml
Labels: aws-mountpoint-s3-csi-driver

#289 feat(monitoring): Add external secrets for Loki integration
  charts/modules/apps/monitoring/Chart.yaml
  charts/modules/apps/monitoring/README.md
  charts/modules/apps/monitoring/values.yaml
Labels: monitoring

#296 eks-addon-s3-csi-namespace
  charts/modules/infra/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/modules/infra/aws-mountpoint-s3-csi-driver/values.yaml
Labels: aws-mountpoint-s3-csi-driver

#297 disable-eks-addon-s3
  charts/modules/infra/aws-eks/Chart.yaml
  charts/modules/infra/aws-eks/values.yaml
Labels: aws-eks

#298 eks-addon-s3-sa-annotation
  charts/modules/infra/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/modules/infra/aws-mountpoint-s3-csi-driver/values-test.yaml
  charts/modules/infra/aws-mountpoint-s3-csi-driver/values.yaml
Labels: aws-mountpoint-s3-csi-driver
