Repository luminartech/helm-charts-public, pull requests merged in 2024-01, with the labels that each got.

#164 feat(external-dns): Bump up upstream chart version
  charts/modules/apps/external-dns/Chart.yaml
Labels: external-dns

#165 feat(cert-manager): Bump up upstream chart version
  charts/modules/apps/cert-manager/Chart.yaml
Labels: cert-manager

#168 gitops/IPE-1508-shared-storage-nix-poc-efs-provider
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/crossplane/values.yaml
Labels: crossplane

#170 gitops/IPE-1508-change-efs-module-community-to-upbound-provider-version-41
  charts/iac/crossplane-aws-efs/Chart.yaml
  charts/iac/crossplane-aws-efs/values.yaml
Labels: crossplane-aws-efs

#171 gitops/IPE-1508-change-efs-module-community-to-upbound-provider-version-deletionpolicy-fix
  charts/iac/crossplane-aws-efs/Chart.yaml
  charts/iac/crossplane-aws-efs/templates/accesspoint.yaml
  charts/iac/crossplane-aws-efs/templates/backuppolicy.yaml
  charts/iac/crossplane-aws-efs/templates/filesystem.yaml
  charts/iac/crossplane-aws-efs/templates/filesystempolicy.yaml
  charts/iac/crossplane-aws-efs/templates/mounttarget.yaml
  charts/iac/crossplane-aws-efs/templates/replicationconfiguration.yaml
Labels: crossplane-aws-efs

#172 gitops/IPE-1508-pod-role-efs-read-only-tag-mountarget
  charts/iac/crossplane-aws-efs/Chart.yaml
  charts/iac/crossplane-aws-efs/templates/mounttarget.yaml
Labels: crossplane-aws-efs

#178 gitops/IPE-1357-install-ingress-grafana-dashboard
  charts/modules/apps/monitoring/Chart.yaml
  charts/modules/apps/monitoring/README.md
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/external-dns.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/external-secrets.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/nginx-ingress.yaml
  charts/modules/apps/monitoring/utils/grafana-dashboards/external-dns.json
  charts/modules/apps/monitoring/utils/grafana-dashboards/external-secrets.json
  charts/modules/apps/monitoring/utils/grafana-dashboards/nginx-ingress.json
  charts/modules/apps/monitoring/utils/sync_grafana_dashboards.py
  charts/modules/apps/monitoring/values-test.yaml
  charts/modules/apps/monitoring/values.yaml
Labels: monitoring

#173 feat(gitops-common): Add itemEnabled template
  charts/shared/common-gitops/Chart.yaml
  charts/shared/common-gitops/templates/_utils.tpl
Labels: common-gitops

#177 feat(crossplane-aws-iam): Update in order to gain support of improved enable condition logic
  charts/iac/crossplane-aws-iam/Chart.yaml
  charts/iac/crossplane-aws-iam/templates/access-key.yaml
  charts/iac/crossplane-aws-iam/templates/account-alias.yaml
  charts/iac/crossplane-aws-iam/templates/account-password-policy.yaml
  charts/iac/crossplane-aws-iam/templates/group-membership.yaml
  charts/iac/crossplane-aws-iam/templates/group-policy-attachment.yaml
  charts/iac/crossplane-aws-iam/templates/group.yaml
  charts/iac/crossplane-aws-iam/templates/instance-profile.yaml
  charts/iac/crossplane-aws-iam/templates/openid-connect-provider.yaml
  charts/iac/crossplane-aws-iam/templates/policy.yaml
  charts/iac/crossplane-aws-iam/templates/role-policy-attachment.yaml
  charts/iac/crossplane-aws-iam/templates/role.yaml
  charts/iac/crossplane-aws-iam/templates/saml-provider.yaml
  charts/iac/crossplane-aws-iam/templates/server-certificate.yaml
  charts/iac/crossplane-aws-iam/templates/service-linked-role.yaml
  charts/iac/crossplane-aws-iam/templates/service-specific-credential.yaml
  charts/iac/crossplane-aws-iam/templates/signing-certificate.yaml
  charts/iac/crossplane-aws-iam/templates/user-group-membership.yaml
  charts/iac/crossplane-aws-iam/templates/user-login-profile.yaml
  charts/iac/crossplane-aws-iam/templates/user-policy-attachment.yaml
  charts/iac/crossplane-aws-iam/templates/user-ssh-key.yaml
  charts/iac/crossplane-aws-iam/templates/user.yaml
  charts/iac/crossplane-aws-iam/templates/virtual-mfa-device.yaml
Labels: crossplane-aws-iam

#176 feat(cert-manager): Add support of DNS zones hosted in another account
  charts/modules/apps/cert-manager/Chart.yaml
  charts/modules/apps/cert-manager/README.md
  charts/modules/apps/cert-manager/docs/diagram.drawio.png
  charts/modules/apps/cert-manager/templates/certificate-request.yaml
  charts/modules/apps/cert-manager/templates/certificate.yaml
  charts/modules/apps/cert-manager/templates/cluster-issuer.yaml
  charts/modules/apps/cert-manager/templates/issuer.yaml
  charts/modules/apps/cert-manager/values-test.yaml
  charts/modules/apps/cert-manager/values.yaml
Labels: cert-manager

#182 Update crossplane module dependencies
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/monitoring/utils/grafana-dashboards/external-dns.json
  charts/modules/apps/monitoring/utils/grafana-dashboards/external-secrets.json
  charts/modules/apps/monitoring/utils/grafana-dashboards/nginx-ingress.json
Labels: crossplane

#184 Switch to GHCR
  charts/iac/crossplane-aws-apigateway/Chart.yaml
  charts/iac/crossplane-aws-cloudwatch/Chart.yaml
  charts/iac/crossplane-aws-cloudwatchevents/Chart.yaml
  charts/iac/crossplane-aws-ec2/Chart.yaml
  charts/iac/crossplane-aws-ecr/Chart.yaml
  charts/iac/crossplane-aws-efs/Chart.yaml
  charts/iac/crossplane-aws-eks/Chart.yaml
  charts/iac/crossplane-aws-elasticache/Chart.yaml
  charts/iac/crossplane-aws-iam/Chart.yaml
  charts/iac/crossplane-aws-kms/Chart.yaml
  charts/iac/crossplane-aws-lambda/Chart.yaml
  charts/iac/crossplane-aws-ram/Chart.yaml
  charts/iac/crossplane-aws-rds/Chart.yaml
  charts/iac/crossplane-aws-route53/Chart.yaml
  charts/iac/crossplane-aws-s3/Chart.yaml
  charts/iac/crossplane-aws-secretsmanager/Chart.yaml
  charts/iac/crossplane-aws-sns/Chart.yaml
  charts/iac/crossplane-aws-sqs/Chart.yaml
  charts/iac/crossplane-kubernetes/Chart.yaml
  charts/modules/apps/argo-cd/Chart.yaml
  charts/modules/apps/argo-workflows/Chart.yaml
  charts/modules/apps/cert-manager/Chart.yaml
  charts/modules/apps/chatbot-ui/Chart.yaml
  charts/modules/apps/cost-analyzer/Chart.yaml
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/external-dns/Chart.yaml
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/github-events/Chart.yaml
  charts/modules/apps/karpenter/Chart.yaml
  charts/modules/apps/loki-scalable/Chart.yaml
  charts/modules/apps/metrics-server/Chart.yaml
  charts/modules/apps/prometheus-service-discovery/Chart.yaml
  charts/modules/apps/vcluster/Chart.yaml
  charts/modules/infra/aws-eks-config/Chart.yaml
  charts/modules/infra/aws-eks-rbac/Chart.yaml
  charts/modules/infra/aws-eks/Chart.yaml
  charts/modules/infra/aws-vpc/Chart.yaml
  charts/shared/common-res/Chart.yaml
Labels: crossplane-aws-apigateway, crossplane-aws-eks, crossplane-aws-ec2, crossplane-aws-ecr, crossplane-aws-efs, crossplane-aws-iam, crossplane-aws-kms, crossplane-aws-ram, crossplane-aws-route53, crossplane-aws-s3, crossplane-aws-secretsmanager, crossplane-kubernetes, external-secrets, crossplane-aws-rds, crossplane-aws-sqs, crossplane-aws-elasticache, crossplane, cert-manager, karpenter, crossplane-aws-cloudwatchevents, argo-workflows, loki-scalable, cost-analyzer, crossplane-aws-cloudwatch, crossplane-aws-sns, crossplane-aws-lambda, external-dns, argo-cd, chatbot-ui, github-events

#185 OCI repos require a prefix
  charts/iac/crossplane-aws-apigateway/Chart.yaml
  charts/iac/crossplane-aws-cloudwatch/Chart.yaml
  charts/iac/crossplane-aws-cloudwatchevents/Chart.yaml
  charts/iac/crossplane-aws-ec2/Chart.yaml
  charts/iac/crossplane-aws-ecr/Chart.yaml
  charts/iac/crossplane-aws-efs/Chart.yaml
  charts/iac/crossplane-aws-eks/Chart.yaml
  charts/iac/crossplane-aws-elasticache/Chart.yaml
  charts/iac/crossplane-aws-iam/Chart.yaml
  charts/iac/crossplane-aws-kms/Chart.yaml
  charts/iac/crossplane-aws-lambda/Chart.yaml
  charts/iac/crossplane-aws-ram/Chart.yaml
  charts/iac/crossplane-aws-rds/Chart.yaml
  charts/iac/crossplane-aws-route53/Chart.yaml
  charts/iac/crossplane-aws-s3/Chart.yaml
  charts/iac/crossplane-aws-secretsmanager/Chart.yaml
  charts/iac/crossplane-aws-sns/Chart.yaml
  charts/iac/crossplane-aws-sqs/Chart.yaml
  charts/iac/crossplane-kubernetes/Chart.yaml
  charts/modules/apps/argo-cd/Chart.yaml
  charts/modules/apps/argo-workflows/Chart.yaml
  charts/modules/apps/cert-manager/Chart.yaml
  charts/modules/apps/chatbot-ui/Chart.yaml
  charts/modules/apps/cost-analyzer/Chart.yaml
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/external-dns/Chart.yaml
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/github-events/Chart.yaml
  charts/modules/apps/karpenter/Chart.yaml
  charts/modules/apps/loki-scalable/Chart.yaml
  charts/modules/apps/metrics-server/Chart.yaml
  charts/modules/apps/prometheus-service-discovery/Chart.yaml
  charts/modules/apps/vcluster/Chart.yaml
  charts/modules/infra/aws-eks-config/Chart.yaml
  charts/modules/infra/aws-eks-rbac/Chart.yaml
  charts/modules/infra/aws-eks/Chart.yaml
  charts/modules/infra/aws-vpc/Chart.yaml
  charts/shared/common-res/Chart.yaml
Labels: crossplane-aws-apigateway, crossplane-aws-eks, crossplane-aws-ec2, crossplane-aws-ecr, crossplane-aws-efs, crossplane-aws-iam, crossplane-aws-kms, crossplane-aws-ram, crossplane-aws-route53, crossplane-aws-s3, crossplane-aws-secretsmanager, crossplane-kubernetes, external-secrets, crossplane-aws-rds, crossplane-aws-sqs, crossplane-aws-elasticache, crossplane, cert-manager, karpenter, crossplane-aws-cloudwatchevents, argo-workflows, loki-scalable, cost-analyzer, crossplane-aws-cloudwatch, crossplane-aws-sns, crossplane-aws-lambda, external-dns, argo-cd, chatbot-ui, github-events

#187 Add Yaml To JSON function into common-gitops
  charts/shared/common-gitops/Chart.yaml
  charts/shared/common-gitops/templates/_yamlToJson.tpl
Labels: common-gitops

#188 Add crossplane-aws-dynamodb chart
  charts/iac/crossplane-aws-dynamodb/.helmignore
  charts/iac/crossplane-aws-dynamodb/Chart.yaml
  charts/iac/crossplane-aws-dynamodb/Makefile
  charts/iac/crossplane-aws-dynamodb/README.md
  charts/iac/crossplane-aws-dynamodb/templates/.gitkeep
  charts/iac/crossplane-aws-dynamodb/templates/contributorinsights.yaml
  charts/iac/crossplane-aws-dynamodb/templates/globaltable.yaml
  charts/iac/crossplane-aws-dynamodb/templates/kinesisstreamingdestination.yaml
  charts/iac/crossplane-aws-dynamodb/templates/table.yaml
  charts/iac/crossplane-aws-dynamodb/templates/tableitem.yaml
  charts/iac/crossplane-aws-dynamodb/templates/tablereplica.yaml
  charts/iac/crossplane-aws-dynamodb/templates/tag.yaml
  charts/iac/crossplane-aws-dynamodb/values-test.yaml
  charts/iac/crossplane-aws-dynamodb/values.yaml
Labels: crossplane-aws-dynamodb

#186 Bump up crossplane chart dependency
  charts/modules/apps/crossplane/Chart.yaml
Labels: crossplane

#189 fix(aws-eks-rbac): Fix dependency
  charts/modules/infra/aws-eks-rbac/Chart.yaml
Labels: aws-eks-rbac

#190 gitops/IPE-1357-fix-dashboard-datasource
  charts/modules/apps/monitoring/Chart.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/nginx-ingress.yaml
  charts/modules/apps/monitoring/utils/grafana-dashboards/nginx-ingress.json
Labels: monitoring

#191 gitops/IPE-1357-fix-external-dns-dashboard
  charts/modules/apps/monitoring/Chart.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/external-dns.yaml
  charts/modules/apps/monitoring/utils/grafana-dashboards/external-dns.json
Labels: monitoring

#192 gitops/IPE-1357-fix-external-dns-dashboard-typo-flag
  charts/modules/apps/monitoring/Chart.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/external-dns.yaml
  charts/modules/apps/monitoring/utils/sync_grafana_dashboards.py
Labels: monitoring

#193 gitops/IPE-1357-fix-external-secret-no-data-issue
  charts/modules/apps/monitoring/Chart.yaml
  charts/modules/apps/monitoring/templates/grafana/dashboards-1.14/external-secrets.yaml
  charts/modules/apps/monitoring/utils/grafana-dashboards/external-secrets.json
Labels: monitoring

#194 Update crossplane
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/crossplane/README.md
  charts/modules/apps/crossplane/values.yaml
Labels: crossplane

#197 feat(crossplane): Use less restrictive crossplane args by default
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/crossplane/values.yaml
Labels: crossplane

#198 feat(crossplane): Backport names rendering improvements to crossplane 1.13 module since 1.14 upgrade is blocked
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/crossplane/values.yaml
Labels: crossplane

#199 Added github pat in the external secrets. Argo Events requires github PAT
  charts/modules/apps/github-events/Chart.yaml
  charts/modules/apps/github-events/values.yaml
Labels: github-events

#200 Bumping argo workflow helm chart version to correct chart.yaml specs
  charts/modules/apps/argo-events/Chart.yaml
Labels: argo-events

#201 EKS: Avoid critical VPC routes getting deleted
  charts/modules/infra/aws-vpc/Chart.yaml
  charts/modules/infra/aws-vpc/values.yaml
Labels: aws-vpc

#202 IPE-1714: Avoid using kubernetes as a name for kubernetes provider
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/crossplane/README.md
  charts/modules/apps/crossplane/values.yaml
Labels: crossplane

#203 feat(common-res): Add CronJob support
  charts/shared/common-res/Chart.yaml
  charts/shared/common-res/README.md
  charts/shared/common-res/templates/cronjob.yaml
  charts/shared/common-res/values-test.yaml
  charts/shared/common-res/values.yaml
Labels: common-res

#205 promtail-daemonset-tolerate-all-taints
  charts/modules/apps/loki-scalable/Chart.yaml
  charts/modules/apps/loki-scalable/README.md
  charts/modules/apps/loki-scalable/values.yaml
Labels: loki-scalable

#206 loki-scalable-values-fix
  charts/modules/apps/loki-scalable/Chart.yaml
  charts/modules/apps/loki-scalable/README.md
  charts/modules/apps/loki-scalable/values.yaml
Labels: loki-scalable

#207 feat(crossplane): Bring in features from 1.13 to 1.14
  charts/modules/apps/crossplane/Chart.yaml
  charts/modules/apps/crossplane/README.md
  charts/modules/apps/crossplane/values.yaml
Labels: crossplane
