Repository luminartech/helm-charts-public, pull requests merged in 2024-03, with the labels that each got.

#228 gitops/SW-8909-update-prometheus-stack
  charts/modules/apps/loki-scalable/Chart.yaml
  charts/modules/apps/loki-scalable/README.md
  charts/modules/apps/loki-scalable/values.yaml
  charts/modules/apps/monitoring/Chart.yaml
  charts/modules/apps/monitoring/README.md
  charts/modules/apps/monitoring/values.yaml
Labels: loki-scalable, monitoring

#229 feat(external-secrets): Add support for metadataPolicy
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/external-secrets/templates/aws-externalsecret.yaml
Labels: external-secrets

#230 SW-10435-organize-default-dashboards
  charts/modules/apps/monitoring/Chart.yaml
  charts/modules/apps/monitoring/README.md
  charts/modules/apps/monitoring/values.yaml
Labels: monitoring

#231 Added statefulset in common-res chart
  charts/shared/common-res/Chart.yaml
  charts/shared/common-res/README.md
  charts/shared/common-res/templates/statefulset.yaml
  charts/shared/common-res/values.yaml
Labels: common-res

#232 gitops/devspace helm chart
  charts/modules/apps/devspace/.helmignore
  charts/modules/apps/devspace/Chart.yaml
  charts/modules/apps/devspace/Makefile
  charts/modules/apps/devspace/README.md
  charts/modules/apps/devspace/values-test.yaml
  charts/modules/apps/devspace/values.yaml
Labels: devspace

#233 Fixed typo in the chatbot ui chart.yaml file
  charts/modules/apps/chatbot-ui/Chart.yaml
Labels: chatbot-ui

#234 Added buildbarn helm chart
  charts/modules/apps/buildbarn/.helmignore
  charts/modules/apps/buildbarn/Chart.yaml
  charts/modules/apps/buildbarn/Makefile
  charts/modules/apps/buildbarn/README.md
  charts/modules/apps/buildbarn/values-test.yaml
  charts/modules/apps/buildbarn/values.yaml
Labels: buildbarn

#236 Store-admin-creds-in-external-secret
  charts/modules/apps/monitoring/Chart.yaml
  charts/modules/apps/monitoring/README.md
  charts/modules/apps/monitoring/values-test.yaml
  charts/modules/apps/monitoring/values.yaml
Labels: monitoring

#238 Crossplane-External-Name
  charts/modules/apps/monitoring/Chart.yaml
  charts/modules/apps/monitoring/README.md
  charts/modules/apps/monitoring/values.yaml
Labels: monitoring

#239 SW-9245-secret-crossplane-external-name
  charts/modules/apps/monitoring/Chart.yaml
  charts/modules/apps/monitoring/README.md
  charts/modules/apps/monitoring/values.yaml
Labels: monitoring

#240 SW-11542: Fix typo
  charts/modules/apps/external-secrets/Chart.yaml
  charts/modules/apps/external-secrets/templates/aws-externalsecret.yaml
  charts/modules/apps/external-secrets/values-test.yaml
Labels: external-secrets

#241 SW-11542: Update external secrets dependency
  charts/modules/apps/github-events/Chart.yaml
  charts/modules/apps/monitoring/Chart.yaml
Labels: monitoring, github-events
