Repository luminartech/helm-charts-public, pull requests merged in 2025-03, with the labels that each got.

#312 gitops/upgrade-karpenter-0.37.7
  charts/modules/apps/karpenter/Chart.yaml
  charts/modules/apps/karpenter/templates/aws-node-template.yaml
  charts/modules/apps/karpenter/templates/provisioner.yaml
  charts/modules/apps/karpenter/values-test.yaml
Labels: karpenter

#313 gitops/upgrade-karpenter-1.0.9
  charts/modules/apps/karpenter/Chart.yaml
  charts/modules/apps/karpenter/values.yaml
Labels: karpenter

#314 gitops/upgrade-karpenter-1.0.9-iam-permission
  charts/modules/apps/karpenter/Chart.yaml
  charts/modules/apps/karpenter/values.yaml
Labels: karpenter

#315 gitops/upgrade-karpenter-1.0.9-iam-permission
  charts/modules/apps/karpenter/Chart.yaml
  charts/modules/apps/karpenter/values.yaml
Labels: karpenter

#317 gitops/upgrade-karpenter-1.0.9
  charts/modules/apps/karpenter/Chart.yaml
  charts/modules/apps/karpenter/templates/ec2-node-class.yaml
  charts/modules/apps/karpenter/templates/node-pool.yaml
Labels: karpenter

#319 gitops: Upgrade Karpenter from v1.0.x to v1.1.x
  charts/modules/apps/karpenter/Chart.yaml
Labels: karpenter

#322 SW-23366: Switch ArgoCD to consistent-hashing algorithm
  charts/modules/apps/argo-cd/Chart.yaml
  charts/modules/apps/argo-cd/README.md
  charts/modules/apps/argo-cd/values.yaml
Labels: argo-cd

#323 Update httpPutResponseHopLimit to 2
  charts/modules/apps/karpenter/Chart.yaml
  charts/modules/apps/karpenter/values.yaml
Labels: karpenter

#324 SW-23600: bump NGINX Helm chart to v4.12.1
  charts/modules/apps/ingress-nginx/Chart.yaml
Labels: ingress-nginx

#325 SW-22034: bump cost-analyzer Helm chart to v2.6.5
  charts/modules/apps/cost-analyzer/Chart.yaml
Labels: cost-analyzer
